.inner-container {
    width: 50%;
    max-width: 800px;
    height: auto;
    gap: 2rem;
    padding: 4rem;
    border-radius: 12px;
    text-align: center;
    margin: 3rem auto;
    background: gray   ;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.inner-container:hover {
    transform: translateY(-5px);
}

.first-text {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    
}

.second-text {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 2rem 0;
}

.com-button {
    width: fit-content;
    display: inline-block;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #6EE7B7;    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.com-button:hover {
    transform: scale(1.05);
}

