/* Conteneur principal du filtre */
.lft-filter-container {
    position: sticky;
    background:  #3372e3;    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 200px;
    z-index: 1;
    width: 100%;

}

/* Titre du filtre */
.lft-filter-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

/* Style pour chaque champ de saisie */
.lft-filter-container input {
    padding: 12px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Changer la couleur de la bordure quand le champ est actif */
.lft-filter-container input:focus {
    border-color: black;
}

/* Réduire les marges pour les petits écrans */
@media (max-width: 600px) {
    .lft-filter-container {
        padding: 15px 20px;
        max-width: 100%;
    }
}