.addTrajetPage {
    display: flex;
    padding: 40px;
    background: linear-gradient(to right, #66c1c3, #e0eee9);
       font-family: 'Poppins', sans-serif;
    gap: 40px;
}

.addTrajetFormContainer {
    flex: 2;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.6s ease;
}

.addTrajetFormContainer h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f8d149;
    text-align: center;
    font-weight: 600;
}

.addTrajetWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addTrajetItem {
    display: flex;
    flex-direction: column;
}

.addTrajetItem label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.addTrajetItem input,
.addTrajetItem select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.addTrajetItem input:focus,
.addTrajetItem select:focus {
    border-color: #1976d2;
    outline: none;
}

.addTrajetDescription .ql-container {
    height: 200px;
    border-radius: 12px;
}

.addTrajetButton {
    background:#f8d149;
    color: #fff;
    padding: 14px;
    font-size: 1rem;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-top: 20px ;
    width: 100%;
}

.addTrajetButton:hover {
    background: #66c1c3;
}

.addTrajetError {
    color: red;
    margin-top: 10px;
    font-size: 0.95rem;
}

.addTrajetSideContainer {
    flex: 1;
    background: #fafafa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 85vh;
}

.addTrajetSideContainer img {
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

/* Animation douce à l'apparition */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}